@import "reset";

body {
  overflow: hidden;
}

.dex-app {
  display: flex;
  height: 100vh;
}

.dex-list {
  height: 100%;
  overflow: auto;

  .dex-layout-grid & {
    flex: 1;
  }
}

.pokemon-list {
  li {
    cursor: pointer;

    &.is-active {
      font-weight: bold;
    }

    .dex-layout-grid & {
      display: inline-block;
      width: 100px;
      height: 100px;
    }

    img {
      max-width: 100%;

      .dex-layout-list & {
        max-width: 40px;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  ul {
    .dex-layout-grid & {
      text-align: justify;
      // display: flex;
    }
  }
}

.dex-detail {
  flex: 1;
  overflow: auto;
}

.pokemon-detail {
  padding: 1.5em;

  h1 {
    font-size: 3em;
  }

  // .dex-layout-grid & {
  //   display: none;
  // }
}

.pokemon-family {
  margin-top: 1em;

  ul ul {
    padding-left: 1em;
  }
}
